{% extends 'base.html'%}
{% block content %}

<body class="home" data-debug="0">
    <div class="wrapper ">
        <section id="content">
            <div class="content-view">
                <div class="container-full alexi">
                    <div class="muliande">
                            <div class="box-site-head js-single-element "
                            data-model="{&quot;likes&quot;:55,&quot;id&quot;:38186,&quot;images&quot;:{&quot;thumbnail&quot;:&quot;submissions\/2019\/10\/5da42f4e8967d075754281.jpg&quot;},&quot;slug&quot;:&quot;laguta-laguta&quot;,&quot;title&quot;:&quot;Laguta &amp; Laguta&quot;,&quot;createdAt&quot;:1571616000,&quot;tags&quot;:[&quot;Design Agencies&quot;,&quot;Mobile &amp; Apps&quot;,&quot;Web &amp; Interactive&quot;,&quot;Flat Design&quot;,&quot;Minimal&quot;,&quot;Portfolio&quot;,&quot;Responsive Design&quot;,&quot;Black&quot;,&quot;Red&quot;,&quot;White&quot;,&quot;Gallery&quot;,&quot;GSAP Animation&quot;,&quot;UI design&quot;,&quot;Nuxt.js&quot;],&quot;type&quot;:&quot;submission&quot;}">
                            <div class="box-bg has-tablet" style="height:500px;">
                                <a href="{{url.object.content }}">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB2wAAAK8AQMAAAAZMt0LAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAANJJREFUeNrswYEAAAAAgKD9qRepAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABg9uBAAAAAAADI/7URVFVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVWlPTgkAAAAABD0/7UzLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAKNogABue9NggAAAABJRU5ErkJggg=="
                                        data-src="https://images.unsplash.com/photo-1506220926022-cc5c12acdb35?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
                                        alt="Laguta &amp; Laguta" width="1900" height="200" class="lazy" />
                                </a>
                            </div>
                            <div class="box-photo has-mobile">
                                <a href="{{url.object.content }}">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaEAAAEqAQMAAACGEX2aAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACZJREFUaN7twTEBAAAAwiD7pzbFPmAAAAAAAAAAAAAAAAAAAAAQOz7cAAG8Je16AAAAAElFTkSuQmCC"
                                        data-srcset="https://assets.awwwards.com/awards/media/cache/thumb_417_299/submissions/2019/10/5da42f4e8967d075754281.jpg 1x, https://assets.awwwards.com/awards/media/cache/optimize/submissions/2019/10/5da42f4e8967d075754281.jpg 2x"
                                        alt="Laguta &amp; Laguta" class="lazy" />
                                    <div class="ribbon">
                                        <img width="90" height="151"
                                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAACXAQMAAACvEN4rAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAABZJREFUOMtjGAWjYBSMglEwCkbBYAYAB6sAAfz0o9UAAAAASUVORK5CYII="
                                            srcset="https://assets.awwwards.com/assets/images/ribbons/sotd_white_left.png 1x, https://assets.awwwards.com/assets/images/ribbons/sotd_white_left@2x.png 2x"
                                            alt="Site of the Day" />
                                    </div>
                                </a>
                            </div>
                            <div class="box-content">
                                <a href="#" class="site-link" aria-label="Laguta &amp; Laguta"></a>
                                <div class="inner vertical-center">
                                    <div class="box-info">
                                        <div class="row">
                                            <h2 class="heading-large"><a href="#">Parrot Blue</a></h2>
                                        </div>
                                        <div class="row">
                                            <div class="by">
                                                by <strong>
                                                    <a href="#">Test User</a>
                                                </strong> from <strong>Ngong Lane</strong> with <strong>7.53</strong>
                                            </div>
                                        </div>
                                        <div class="box-notesite js-notes">
                                            <ul>
                                                <li class="circle-note-progress style-design" data-note="7.62">
                                                    <div class="circle">
                                                        <svg width="84" height="84">
                                                            <circle r="38" cy="41" cx="41" />
                                                            <circle r="38" cy="41" cx="41" stroke-linejoin="round"
                                                                stroke-linecap="round" class="circle-progress" />
                                                        </svg>
                                                        <div class="percent">
                                                            <span class="int">0</span><span class="dec">.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="legend">DESIGN</div>
                                                </li>
                                                <li class="circle-note-progress style-usability" data-note="7.53">
                                                    <div class="circle">
                                                        <svg width="84" height="84">
                                                            <circle r="38" cy="41" cx="41" />
                                                            <circle r="38" cy="41" cx="41" stroke-linejoin="round"
                                                                stroke-linecap="round" class="circle-progress" />
                                                        </svg>
                                                        <div class="percent">
                                                            <span class="int">0</span><span class="dec">.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="legend">USABILITY</div>
                                                </li>
                                                <li class="circle-note-progress style-creativity" data-note="7.19">
                                                    <div class="circle">
                                                        <svg width="84" height="84">
                                                            <circle r="38" cy="41" cx="41" />
                                                            <circle r="38" cy="41" cx="41" stroke-linejoin="round"
                                                                stroke-linecap="round" class="circle-progress" />
                                                        </svg>
                                                        <div class="percent">
                                                            <span class="int">0</span><span class="dec">.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="legend">CREATIVITY</div>
                                                </li>
                                                <li class="circle-note-progress style-content" data-note="7.89">
                                                    <div class="circle">
                                                        <svg width="84" height="84">
                                                            <circle r="38" cy="41" cx="41" />
                                                            <circle r="38" cy="41" cx="41" stroke-linejoin="round"
                                                                stroke-linecap="round" class="circle-progress" />
                                                        </svg>
                                                        <div class="percent">
                                                            <span class="int">0</span><span class="dec">.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="legend">CONTENT</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="box-breadcrumb">
                                        <div class="box-left">
                                            <strong class="parent">
                                                <a href="/sites/laguta-laguta">Site of the Day</a>
                                            </strong>
                                            <span class="text-x-thin">October 21, 2019</span>
                                        </div>
                                        <div class="box-right">
                                            <div class="list-share-circles style2 light">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-bl">
                                        <a href="https://watchlist425.herokuapp.com/" data-identifier="laguta-laguta"
                                            data-type="submission" class="js-visit-item bt-default green-fill"
                                            target="_blank" rel="noopener nofollow">Visit
                                            Site</a>
                                        <!-- <a href="profile/{{project_item.author.profile.name}}"> -->
                                        <a href="{% url 'profile' %}">
                                            <strong class="bt-item bt-default js-collect">Profile</strong>
                                        </a>
                                    </div>
                                    <div class="box-br">
                                        <div class="box-users-likes">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block p-0" id="block-sod">
                </div>
                <div class="block p-0">
                    <div class="inner">
                        <div class="box-heading">
                            <div class="box-left">
                                <h2 class="title">
                                    <a href="/nominees/" class="text-black">
                                        Nominees
                                    </a>
                                </h2>
                                <span>We need your vote!</span>
                            </div>
                        </div>
                        <div class="grid js-grid" id="items-row">
                            <ul class="list-items list-flex list-one-row js-elements-container">
                                {% for project_item in projects %}
                                <li class="col-3 js-collectable">
                                    <div class="box-item">
                                        <figure class="rollover ">
                                            <a href="">
                                                <div class="box-photo">
                                                    <img src="{{project_item.image.url}}" alt="More info" width="417"
                                                        height="298" class="lazy" />
                                                </div>
                                            </a>

                                            <div class="hover-item center">
                                                <a href="{%url 'review-create' project_item.id%}"
                                                    class="bt-default white-fill size-small vote-now">Review
                                                    NOW</a>
                                            </div>
                                        </figure>
                                        <div class="box-info">
                                            <div class="content">
                                                <div class="row">
                                                    <h3><a href="{% url 'post-detail' project_item.id %}">{{ project_item.image_name }}More
                                                            Info</a>
                                                    </h3>
                                                </div>
                                                <div class="row row-2col">
                                                    <div class="box-left">From Africa</div>
                                                    <div class="box-right">
                                                        October 18, 2019
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="footer style2">
                                                <div class="box-left">
                                                    <div class="box-byuser js-tooltip-user">
                                                        <div class="item js-user" data-username="thecouch">
                                                            <a href="#">
                                                                <img src="{{ project_item.author.profile.profile_picture.url}}"
                                                                    width="27" height="27" alt="user image"
                                                                    class="lazy" />
                                                            </a>
                                                        </div>
                                                        <div class="by">
                                                            by <strong><a
                                                                    class="text-black">{{project_item.author.username|upper}}</a></strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="box-right">
                                                    <ul class="list-tags size-small">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
{% endblock     %}