  <!--Navbar-->
  <nav class="navbar navbar-dark default-color">
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
    </form>

    <div class="navbar-nav" id="inline">
      {% if user.is_authenticated%}
     
      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
      <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
      {% else %}
      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
      {% endif %}
    </div>

  </nav>
  <!--/.Navbar-->