{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<br><br><br><br>
<div class="content-section">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 text-center"> Image Post</legend>
                    {{form|crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit"> Post </button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}